<center>
<h1>Bow Tracker</h1>
<nav>
    <a href="/users/<%= current_user.id %>">HOME</a> |
    <a href="/bows">BOWS</a> |
    <a href="/makers">MAKERS</a> |
    <a href="/logout">LOGOUT</a>
</nav>

<h3>A <%= @bow.instrument %> bow by <%= @bow.maker.name %> made in <%= @bow.year_made %></h3>

</center>

<ul>
    <li><b>Brand:</b> <%= @bow.brand %></li>
    <li><b>Materials:</b> <%= @bow.materials %></li>
    <li><b>Shape:</b> <%= @bow.shape %></li>
    <li><b>Weight:</b> <%= @bow.weight %></li>
    <li><b>Balance:</b> <%= @bow.balance %></li>
    <li><b>Length:</b> <%= @bow.length %></li>
    <li><b>Strength:</b> <%= @bow.strength %></li>
    <li><b>Last Sold Price:</b> <%= @bow.last_sold_price %></li>
    <li><b>Last Sold Date:</b> <%= @bow.last_sold_date %></li>
    <li><b>Notes:</b> <%= @bow.notes %></li>
</ul>
<br><br>
<% if authorized_user?(@bow) %>
    <a href="/bows/<%= @bow.id %>/edit"><button>Edit</button></a> <br>
    or
    <form action="/bows/<%= @bow.id %>" method="post">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <input type="submit" value="Delete"> this bow
    </form>
<% end %>