<center>
<h1>Bow Tracker</h1>
<nav>
    <a href="/users/<%= current_user.id %>">HOME</a> |
    <a href="/bows">BOWS</a> |
    <a href="/makers">MAKERS</a> |
    <a href="/logout">LOGOUT</a>
</nav>

<h3><%= @maker.name %></h3>
<% if @maker.year_died != nil %>
    <h3><%= @maker.year_born %> - <%= @maker.year_died %></h3>
<% else %>
    <h3>b. <%= @maker.year_born %></h3>
<% end %>

<h3><%= @maker.nationality %></h3>

</center>

